
workflow_test_2/target/

workflow_test_2/\.idea/

workflow_test/\.idea/

workflow_test/target/

workflow_test/\.DS_Store

workflow_test_2/\.DS_Store

\.DS_Store

EEG_DataAnalysisPackage/\.idea/

EEG_DataAnalysisPackage/target/

EEG_DataAnalysisPackage/Epochs\.csv

workflow_designer_commons/\.idea/

workflow_designer_commons/target/

\.idea/

EEG_DataAnalysisPackage/\.log
/workflow_test/.classpath
/workflow_test/.project
/workflow_test/.settings/org.eclipse.jdt.core.prefs
/workflow_test/.settings/org.eclipse.m2e.core.prefs
/workflow_test_2/.classpath
/workflow_test_2/.project
/workflow_test_2/.settings/org.eclipse.jdt.core.prefs
/workflow_test_2/.settings/org.eclipse.m2e.core.prefs
/EEGWorkflow/.pydevproject
/EEGWorkflow/test_data/graph_1552297022037.json
